/* Navigation Bar */
.topnav {
  background-color: #88a9c3;
  overflow: hidden;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 4px;
}

.topnav a:hover, .topnav a.active {
  background-color: #ECECEC;
  color: black;
}

/* Images */
.image {
  width: 600px;
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.imageb {
  width: 1896px;
  height: auto; /* Added auto for height to maintain aspect ratio */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagef {
  width: 750px;
  height: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageg {
  width: 1090px;
  height: 600px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagegg {
  width: auto;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Body */
body {
  background-color: #091235;
  color: #fafcfe;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Text Styles */
p {
  font-family: Georgia, serif;
  line-height: 1.6;
}

h1 {
  font-family: Serif;
  margin: 20px 0;
}

h2 {
  font-family: cursive;
  margin: 20px 0;
}

h3 {
  font-family: Georgia, serif;
  margin: 20px 0;
}
.even-photos img {
    width: 150px; /* Adjust the width as necessary */
    height: auto; /* Maintain aspect ratio */
    margin: 10px; /* Space between images */
    display: inline-block; /* Align images horizontally */
    object-fit: cover; /* Ensure the images cover the area without distortion */
}
.responsive-image {
    width: 100%;
    height: auto;
    max-width: 600px; /* Optional: limit the max-width */
    margin: 0 auto;
    display: block;
}
