/* Navigation Bar */
.topnav {
  background-color: #88a9c3;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover, .topnav a.active {
  background-color: #ECECEC;
  color: black;
}

/* Images */
.image {
  width: 600px;
  height: 350px;
}

.imageb {
  width: 1896px;
  height: auto; /* Added auto for height to maintain aspect ratio */
}

.imagef {
  width: 750px;
  height: 600px;
}

.imageg {
  width: 1090px;
  height: 600px;
}

.imagegg {
  width: auto;
  height: auto;
}

/* Body */
body {
  background-color: #091235;
  color: #fafcfe;
}

/* Text Styles */
p {
  font-family: Georgia, serif;
}

h1 {
  font-family: Serif;
}

h2 {
  font-family: cursive;
}

h3 {
  font-family: Georgia, serif;
}
